[submodule "Materials/ICPViz"]
	path = Materials/ICPViz
	url = https://github.com/COMPSCI290-S2016/ICPViz.git
[submodule "Materials/SlerpViz"]
	path = Materials/SlerpViz
	url = https://github.com/COMPSCI290-S2016/SlerpViz.git
[submodule "Materials/JSPCViewer"]
	path = Materials/JSPCViewer
	url = https://github.com/COMPSCI290-S2016/JSPCViewer.git
[submodule "Materials/EulerAnglesViz"]
	path = Materials/EulerAnglesViz
	url = https://github.com/COMPSCI290-S2016/EulerAnglesViz.git
[submodule "Assignments/Group1_ImageSources"]
	path = Assignments/Group1_ImageSources
	url = https://github.com/COMPSCI290-S2016/Group1_ImageSources.git
[submodule "Assignments/Group2_ShapeGoogle"]
	path = Assignments/Group2_ShapeGoogle
	url = https://github.com/COMPSCI290-S2016/Group2_ShapeGoogle.git
[submodule "Assignments/Group3_LaplacianMesh"]
	path = Assignments/Group3_LaplacianMesh
	url = https://github.com/COMPSCI290-S2016/Group3_LaplacianMesh.git
